   PORT=3000
MONGODB_USER=oylekmila
MONGODB_PASSWORD=db_password
MONGODB_URL=cluster0.shhhkuo.mongodb.net
MONGODB_DB=contacts_db


SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=


JWT_SECRET=

APP_DOMAIN=

CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=